.result-list-item {
    background-color: #FFFFFC;
    border: solid 1px #092B75;
    padding: 0 10px;
    text-align: center;
    width: 350px;
    height: 260px;
    padding: 5px;
    margin: 15px;
    float: left;
}

.result-list-item:hover {
    border: solid 1px #FFBF44;;
    cursor: pointer;
 }

.brand-img {
    width: 116px;
    height: 130px;
    margin-top:20px;
    margin-left: 92px;
    margin-right: 92px;
    z-index: -1;
 }

.discount-percent {
    width: 50px;
    height: 50px;
    z-index: 99;
    padding-right: 0px;
    float: right;
}

.logo-partner {
    width: 70px;
    height: 70px;
    padding-left: 0px;
    float: left;
    z-index: 99;
}

.brand-name {
    color: red;
    font-size: 20px;
    padding-top: 5px;
    z-index: 10;
}

.tags {
    padding-left: 50px;
    color: #092B75;
    font-size: 20px;
    font-weight: bold;
}

.tag {
    display: inline-block;
    color: #0d0a03;
    background-color: #ffbf44;
    border: 2px solid #ff9d09;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.close-icon {
    float: right;
    font-size: 20px;
    margin: 2px;
    padding: 2px;
    margin-top:-8px;
    color: #092B75;
    opacity: 0.6;
}

.close-icon:hover {
    cursor: pointer;
    color: red;
    opacity: 1;
}

.no-matches {
    text-align: center;
    padding: 5px;
    font-size: 18px;
    color: red;
    font-weight: bold;
}