
<div>
  <div id="newsletter-container">
    <h1>See where you can use your discount!</h1>
    <div id="center">
      <input type="submit" value="Check" class="submit-button" (click)="toggle()" />
    </div>

    <ng-container *ngIf="show">
      <div class="centered">
        <h2 class="green-heading">Your card is valid in the following places:</h2>
        <p>Magic Auto Spa</p>
        <p>Ivans auto shop</p>
        <p>AutoHouse Sofia</p>
        <p>Bankya Auto Palace</p>
      </div>
    </ng-container>




