<div class="beauty-filters">
  <h3>Partners</h3>
  <label htmlFor="beautyzone">
    <input
      type="checkbox"
      name="beautyzone"
      id="beautyzone"
      value="beautyzone"
      (click)="this.beautyService.setFilter('partners', 'beautyzone', $event.target.checked)"
    />Beauty Zone
  </label>
  <label htmlFor="sephora">
    <input
      type="checkbox"
      name="sephora"
      id="sephora"
      value="sephora"
      (click)="this.beautyService.setFilter('partners', 'sephora', $event.target.checked)"
    />Sephora
  </label>
  <label htmlFor="douglas">
    <input
      type="checkbox"
      name="douglas"
      id="douglas"
      value="douglas"
      (click)="this.beautyService.setFilter('partners', 'douglas', $event.target.checked)"
    />Douglas
  </label>
  <label htmlFor="dm">
    <input
      type="checkbox"
      name="dm"
      id="dm"
      value="dm"
      (click)="this.beautyService.setFilter('partners', 'dm', $event.target.checked)"
    />DM
  </label>
  <label htmlFor="lillydrogerie">
    <input
      type="checkbox"
      name="lillydrogerie"
      id="lillydrogerie"
      value="lillydrogerie"
      (click)="this.beautyService.setFilter('partners', 'lillydrogerie', $event.target.checked)"
    />Lilly Drogerie
  </label>
</div>