.select-time {
    position: relative;
    width: 200px;
    line-height: 25px;
    color: #343434;
    border: 3px solid #ffbf44;
    background-color: transparent;
    padding: 1px;
    height: 33.6px;
    text-align: center; 
    cursor: pointer;
    font-family: inherit;
    font-size: .9rem;
}

.select-time:focus {
    outline: none;
}
