.select-time {
    position: relative;
    width: 200px;
    line-height: 25px;
    color: #343434;
    border: 3px solid #ffbf44;
    background-color: transparent;
    padding: 1px;
    height: 33.6px;
    text-align: center; 
    cursor: pointer;
    font-family: inherit;
    font-size: .9rem;
}

.select-time:focus {
    outline: none;
}

.select-time__placeholder {
    padding-top: 1px;
}

.select-time__options {
    background-color: white;
    list-style-type: none;
    margin: 0;
    margin-top: 6px;
    padding: 0;
    box-shadow: 2px 2px 10px #343434a4;
}

.select-time__option {
    padding: 0.3rem;
}

.select-time__option:hover {
    background-color: #1C51C2;
    color: white;
}
