<p>
  clothes-shops works!
</p>


<div>
  <div className="result-list-mall">
    <h2 class="mall-name"></h2>
    <img class="mall-img" src="../../../../assets/clothes/serdika.jpg" alt="MALL SERDIKA" />
    <img class="mall-img" src="../../../../assets/clothes/paradise.jpg" alt="MALL PARADISE" />
    <img class="mall-img" src="../../../../assets/clothes/plovdiv.jpeg" alt="MALL PLOVDIV" />
    <img class="mall-img" src="../../../../assets/clothes/varna.jpg" alt="MALL VARNA" />
    <img class="mall-img" src="../../../../assets/clothes/burgas.jpg" alt="MALL BURGAS" />
    <img class="mall-img" src="../../../../assets/clothes/zagora.jpg" alt="MALL STARA ZAGORA" />
  </div>
</div>
