<div>
    <form class="request-form" id="request-card">
        <h2 class="request-heading">Request your SuperCard today!</h2>
        <input type="text" name="name" placeholder="Your name" class="request-input" />
        <br />
        <input type="email" name="email" placeholder="Your email" class="request-input" />
        <br />
        <textarea name="text" cols="45" rows="5" placeholder="Write message.." class="request-input"></textarea>
        <br />
        <input type="reset" value="Submit" class="btn-submit" (click)="this.home.toggleModal()" />
    </form>
    <app-request-modal></app-request-modal>
</div>