<div>
  <div class="restaurants-intro">
    <h1>Restaurants</h1>
    <p>
      SuperCard promises foodies a way to save money on restaurant bills. Book a table below, mention you are a
      cardholder at the restaurant and then, when you pay, show the card and a discount will be applied
      accordingly. Here are the locations where we offer discounts at.
    </p>
  </div>
  <div class="locations-container">
    <app-list-items></app-list-items>
    <app-description></app-description>
  </div>
</div>
