<div class="navbar-bcg">
  <div class="navbar">
    <div class="navbar-logo">
      <h1 routerLink="/" routerLinkActive="active">Super<span>Card</span></h1>
    </div>
    <nav class="navbar-links">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/auto" routerLinkActive="active">Auto</a>
      <a routerLink="/beauty" routerLinkActive="active">Beauty</a>
      <a routerLink="/clothes" routerLinkActive="active">Clothes</a>
      <a routerLink="/tech" routerLinkActive="active">Tech</a>
      <a routerLink="/restaurants" routerLinkActive="active">Restaurants</a>
    </nav>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="footer-container">
    <div class="footer-about">
      <h2>About</h2>
      <p>
        SuperCard is a card, that entitles the holder to discounts on the prices of some products or services. Cards
        may be issued as part of a loyalty program and may be offered by clubs or associations who negotiate on behalf
        of all members to obtain benefits.
      </p>
    </div>
    <div class="footer-navigation">
      <h2> Navigation</h2>
      <nav class="footer-navbar-links">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/auto" routerLinkActive="active">Auto</a>
        <a routerLink="/beauty" routerLinkActive="active">Beauty</a>
        <a routerLink="/clothes" routerLinkActive="active">Clothes</a>
        <a routerLink="/tech" routerLinkActive="active">Tech</a>
        <a routerLink="/restaurants" routerLinkActive="active">Restaurants</a>
      </nav>
    </div>
    <div class="footer-social">
      <h2>Social</h2>
      <ul class="footer-links">
        <li>
          <a href="https://www.facebook.com/">Facebook</a>
        </li>
        <li>
          <a href="https://www.instagram.com/">Instagram</a>
        </li>
        <li>
          <a href="https://www.twitter.com/">Twitter</a>
        </li>
        <li>
          <a href="https://plus.google.com">Google+</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">&copy; 2018 All rights reserved. Designed by Smart Investments Team :)</div>
</div>
