.categories{
    list-style: none;
    display: inline-block;
    width: 100%;
    margin-left: 15%;
}
.items{
    background-color: #092B75;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    margin: 25px 0;
    padding: 18px;
    border-radius: 5px;
    box-shadow: 3px 5px 5px #888888;
}
.items:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition: transform .5s;
    background-color :#1C51C2;
}
.category-header{
    margin-left: 6%;
    border-bottom: 1px solid #1C51C2;
    width: 245px;
    padding: 5px;
}