.reservation-complete {
    display: flex;
    justify-content: center;
}

.reservation-confirm {
    background-color: #1c51c2;
    border: none;
    border-radius: 50px;
    padding: .688rem 1.188rem;
    cursor: pointer;
    color: white;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 .5rem;
}

.reservation-confirm:focus {
    outline: none;
}

.reservation-confirm:hover {
    background-color: #1c51c2d0;
}

.reservation-confirm:disabled {
    background-color: #1c51c26c;
    border: none;
    border-radius: 50px;
    padding: .688rem 1.188rem;
    cursor: pointer;
    color: white;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 .5rem;
    cursor: not-allowed;
}

.reservation-disabled:focus {
    outline: none;
}

.reservation-clear {
    background-color: #c7c7c7;
    border: none;
    border-radius: 50px;
    padding: .688rem 1.188rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    margin: 0 .5rem;
}

.reservation-clear:focus {
    outline: none;
}

.reservation-clear:hover {
    background-color: #a5a5a57a;
}
