.container-body-text{
    position: relative;
}

.human-body-img {
    position: relative;
    margin: auto;
    text-align: center;
}

.human-body-img-categories {
    cursor: pointer;
}

.text-block {
    position: absolute;
    top: 60px;
    right:110px;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    width:300px;
}